plantillas/dropdown_dinamico.json
{
  "name": "dropdown_dinamico",
  "nodes": [
    {
      "parameters": {
        "formTitle": "NFL AFC",
        "formDescription": "Equipos de la conferencia americana de la NFL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Division",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Este"
                  },
                  {
                    "option": "Norte"
                  },
                  {
                    "option": "Oeste"
                  },
                  {
                    "option": "Sur"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -464,
        192
      ],
      "id": "84ea3569-b59c-4347-9b39-4279c5a604e0",
      "name": "On form submission",
      "webhookId": "93fbd932-00c3-43b4-92f8-ade54bf177cc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1aa1753-e726-433b-9a6a-0d8e884dbab0",
              "name": "values",
              "value": "[ {\"option\": \"Bills\"}, {\"option\":\"Dolphins\"}, {\"option\":\"Jets\"}, {\"option\": \"Patriots\"}]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "9e40da53-d831-4c53-a97d-9c1c91b8d2ce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Division }}",
                    "rightValue": "Este",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c592e325-3958-4760-9818-f03e7da51c39"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Este"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6535348e-2790-4af5-9f5c-248f93a8a574",
                    "leftValue": "={{ $json.Division }}",
                    "rightValue": "Oeste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Oeste"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "644e2bdd-928d-47e7-8cb6-d655cc4d922d",
                    "leftValue": "={{ $json.Division }}",
                    "rightValue": "Norte",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Norte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "919ee0e3-4f5f-40c7-9aa4-10b0214e82de",
                    "leftValue": "={{ $json.Division }}",
                    "rightValue": "Sur",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sur"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        160
      ],
      "id": "ed3e1d75-793a-46ca-b328-70f6bcf30ec3",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61165742-a75d-4843-87bd-172712588129",
              "name": "values",
              "value": "[{\"option\": \"Broncos\"}, {\"option\": \"Chargers\"}, {\"option\":\"Chiefs\"}, {\"option\":\"Raiders\"}]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        128
      ],
      "id": "b7f12b96-174b-4d96-bd0e-25e9a804c8ae",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e26002a-ee12-49b0-a166-82a0812bffab",
              "name": "values",
              "value": "[ {\"option\": \"Bengals\"}, {\"option\":\"Browns\"}, {\"option\":\"Ravens\"}, {\"option\": \"Steelers\"}]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        256
      ],
      "id": "eda16437-3784-489c-b6af-61de179afc6b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aeaafcc-01a7-4ce7-97cb-46f4576a1553",
              "name": "values",
              "value": "[{\"option\": \"Colts\"}, {\"option\": \"Jaguars\"}, {\"option\":\"Texans\"}, {\"option\":\"Titans\"}]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        384
      ],
      "id": "93489a98-48ca-4abf-a2ef-b04702b5fd13",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n   {\n    \"fieldLabel\": \"Equipo\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n      \"values\": {{ $json.values[0] }}\n    },\n    \"requiredField\": true\n  }\n]  ",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        464,
        192
      ],
      "id": "b8c53441-8099-4f9c-9542-82f3f6b96438",
      "name": "Form",
      "webhookId": "e6c9eddf-266a-42e5-9b67-cd6087db3323"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "values"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        288,
        192
      ],
      "id": "7fd7e279-5b36-41d8-82cc-bba58eba3059",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d62ee73-4707-408c-8354-1c7308dc9ba2",
  "meta": {
    "instanceId": "66037d4eb617fb26a2fd45902042e170cf5a5f2ddf737127b2240a034f738436"
  },
  "id": "Wnryowobq9aEvvqm",
  "tags": []
}